<!DOCTYPE html>
<html lang = "pl">
    <head>
        <title>Zadanie 1</title>
        <meta charset = "UTF-8">
    </head>

    <body>
        <form method = "POST" action = "/upload" enctype = "multipart/form-data">
            <input type = "file" name = "uploadedFile">
            <br>
            <input type = "submit" value = "Wyślij">
        </form>
    </body>
</html>